/* 样式 */
body {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}
.page-wrapper {
  width: 100%;
  min-width: 1200px;
  height: auto;
  background: url(../img/timg（壁纸）.jpeg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.page-main {
  position: relative;
  width: 260px;
  height: 210px;
  border: 1px solid blue;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.page-main .main-subnav {
  position: absolute;
  left: 50%;
  top: 50%;
  animation: move 3s linear infinite;
}
@keyframes move {
  0%, 100% {
    transform: translate(25px, 0px);
  }
  25%, 75% {
    transform: translate(0px , 0px);
  }
  50% {
    transform: translate(-25px, 0px);
  }
}
/* .page-main .main-subnav p {
  width: 20px;
  height: 20px;
  margin: -10px;
  background-color: #0ea46e;
  border-radius: 50%;
  animation: rotate 3s linear infinite;
} */
.page-main .main-subnav img {
  width: 40px;
  height: 40px;
  margin: -15px;
  background-color: #0ea46e;
  border-radius: 65%;
  animation: rotate 3s linear infinite;
}
/* 动画效果 */
@keyframes rotate {
  from {
    transform: rotate(0deg) translate(100px);
  }
  to {
    transform: rotate(360deg) translate(100px);
  }
}